{
    "extends": "eventbrite",
    "root": true,
    "plugins": [
        "babel",
    ],
    "env": {
        "jest": true,
        "browser": true,
        "node": true,
        "amd": true,
    },
    "globals": {
        "Promise": true,
        "Symbol": true,
    },
}
